The objective of the project is to predict the number of taxis available in the next one hour

Data Importation

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('https://bit.ly/3p1QPAv', index_col=[0], parse_dates=[0])

Data Exploration

In [21]:
data.head()

                     num_orders
datetime
2018-03-01 00:00:00           9
2018-03-01 00:10:00          14
2018-03-01 00:20:00          28
2018-03-01 00:30:00          20
2018-03-01 00:40:00          32

In [23]:
data.shape

(26496, 1)

In [22]:
data.describe()

         num_orders
count  26496.000000
mean      14.070463
std        9.211330
min        0.000000
25%        8.000000
50%       13.000000
75%       19.000000
max      119.000000

Features Creation

In [24]:
data.sort_index(inplace=True)
data = data.resample('1H').sum()

def make_features(data, max_lag, rolling_mean_size):
    data['year'] = data.index.year
    data['month'] = data.index.month
    data['day'] = data.index.day
    data['dayofweek'] = data.index.dayofweek

    for lag in range(1, max_lag + 1):
        data['lag_{}'.format(lag)] = data['num_orders'].shift(lag)

    data['rolling_mean'] = (
        data['num_orders'].shift().rolling(rolling_mean_size).mean()
    )


make_features(data, 4, 4)
print(data.head())

                     num_orders  year  month  day  dayofweek  lag_1  lag_2  \
datetime
2018-03-01 00:00:00         124  2018      3    1          3    NaN    NaN
2018-03-01 01:00:00          85  2018      3    1          3  124.0    NaN
2018-03-01 02:00:00          71  2018      3    1          3   85.0  124.0
2018-03-01 03:00:00          66  2018      3    1          3   71.0   85.0
2018-03-01 04:00:00          43  2018      3    1          3   66.0   71.0

                     lag_3  lag_4  rolling_mean
datetime
2018-03-01 00:00:00    NaN    NaN           NaN
2018-03-01 01:00:00    NaN    NaN           NaN
2018-03-01 02:00:00    NaN    NaN           NaN
2018-03-01 03:00:00  124.0    NaN           NaN
2018-03-01 04:00:00   85.0  124.0          86.5

Model training

In [26]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

train, test = train_test_split(data, shuffle=False, test_size=0.2)
train = train.dropna()

features_train = train.drop(['num_orders'], axis=1)
target_train = train['num_orders']
features_test = test.drop(['num_orders'], axis=1)
target_test = test['num_orders']

model = LinearRegression()
model.fit(features_train, target_train)

LinearRegression()

Sample Predictions

In [27]:
pred_train = model.predict(features_train)
pred_test = model.predict(features_test)

print('MAE for the training set:', mean_absolute_error(target_train, pred_train)
)
print('MAE for the test set:', mean_absolute_error(target_test, pred_test))

MAE for the training set: 22.657762559388836
MAE for the test set: 35.632386608489554